
.date-container {
    width: 60%;
    height: auto;
    margin: 0 auto;

    h2 {
        text-align: center;
    }
    .hr-line {
        width: 100%;
    }
    .text-left {
        text-align: left;
    }
    .date-and-guests {
        display: flex;
        justify-content: space-around;
    }
    .select {
        width: 150px;
    }
}
