@import 'mixins';

.contact-container {
    width: 90%;
    height: auto;
    margin: 0 auto;
    font-weight: 400;
    font-size: 90%;

    @include tablet {
        width: 80%;
    }

    @include desktop {
        width: 70%;
    }

    h2 {
        text-align: center;
        font-weight: 400;
        font-size: 20px;
    }

    .text-left {
        text-align: left;
        font-weight: 400;
        font-size: 90%;
    }

    .text-left-second {
        text-align: left;
        font-size: 90%;
    }

    .date-guest-time-container {
        display: flex;
        justify-content: space-evenly;
    }

    .input-one {
        display: flex;
        flex-direction: row;


        input {
            font-size: 80%;
            border: none;
            width: 50%;
            height: 70px;
            min-height: 20%;
            text-transform: uppercase;
            font-weight: 200;
            padding-left: 5px;

        }

        .firstname {
            border: solid 1px rgb(158, 158, 158);

        }

        .lastname {
            border-top: solid 1px rgb(158, 158, 158);
            border-right: solid 1px rgb(158, 158, 158);
            border-bottom: solid 1px rgb(158, 158, 158);
        }

        .email {
            border-left: solid 1px rgb(158, 158, 158);
            border-bottom: solid 1px rgb(158, 158, 158);
        }

        .phonenumber {
            border-left: solid 1px rgb(158, 158, 158);
            border-bottom: solid 1px rgb(158, 158, 158);
            border-right: solid 1px rgb(158, 158, 158);
        }

    }

    .input-two {
        display: flex;
        flex-direction: row;

        .restaurang {
            font-size: 80%;
            margin-top: 50px;
            width: 50%;
            height: 70px;
            min-height: 20%;
            text-transform: uppercase;
            font-weight: 200;
            border-top: solid 1px rgb(158, 158, 158);
            border-bottom: solid 1px rgb(158, 158, 158);
            border-left: solid 1px rgb(158, 158, 158);
        }

        .restaurangtwo {
            font-size: 80%;
            margin-top: 50px;
            width: 50%;
            height: 70px;
            min-height: 20%;
            text-transform: uppercase;
            font-weight: 200;
            border: solid 1px rgb(158, 158, 158);
        }

    }

    .restaurang-last {
        margin-top: 20px;
        font-size: 80%;
        text-transform: uppercase;
        border: solid 1px rgb(158, 158, 158);
    }

    .background {

        background-color: black;
        position: absolute;
        transition: 1s;
        height: 100%;
        width: 100%;
        top: 243px;
        left: 0;


        .popup-container {
            background-color: white;
            height: 50%;
            width: 90%;
            position: relative;
            top: 200px;
            z-index: 9999;

            .closebtn {
                background-color: white;
                float: right;
                border: none;
        
            }

            .text-center {
                padding-top: 20px;
            }
        }
    }

}