@import 'mixins';

.contact-container {
    width: 90%;
    height: auto;
    margin: 0 auto;
    font-weight: 400;
    font-size: 90%;

    @include tablet {
        width: 70%;
    }

    @include desktop {
        width: 60%;
    }

    h2 {
        text-align: center;
        font-weight: 400;
        font-size: 20px;
    }

    .text-left {
        text-align: left;
        font-weight: 400;
        font-size: 90%;
    }

    .text-left-second {
        text-align: left;
        font-size: 90%;
    }

    .date-guest-time-container {
        display: flex;
        justify-content: space-evenly;
        margin-top: 5%;
    }

  
    .input-one {
        display: flex;
        flex-direction: row;
        margin-top: 10px;

        input {
            font-size: 80%;
            border: none;
            width: 50%;
            height: 70px;
            min-height: 20%;
            font-weight: 200;
            padding-left: 5px;

        }

        .firstname {
            border: solid 1px rgb(158, 158, 158);

        }

        .lastname {
            border-top: solid 1px rgb(158, 158, 158);
            border-right: solid 1px rgb(158, 158, 158);
            border-bottom: solid 1px rgb(158, 158, 158);
        }

        .email {
            border-top: solid 1px rgb(158, 158, 158); // användas?

            border-left: solid 1px rgb(158, 158, 158);
            border-bottom: solid 1px rgb(158, 158, 158);
        }

        .phonenumber {
            border-top: solid 1px rgb(158, 158, 158); // användas?

            border-left: solid 1px rgb(158, 158, 158);
            border-bottom: solid 1px rgb(158, 158, 158);
            border-right: solid 1px rgb(158, 158, 158);
        }

    }

    .error-container {
        display: flex;
        justify-content: space-around;
        span {
            color: red;
        }
    }

    .input-two {
        display: flex;
        flex-direction: row;

        .restaurang {
            font-size: 80%;
            margin-top: 50px;
            width: 50%;
            height: 70px;
            min-height: 20%;
            text-transform: uppercase;
            font-weight: 200;
            border-top: solid 1px rgb(158, 158, 158);
            border-bottom: solid 1px rgb(158, 158, 158);
            border-left: solid 1px rgb(158, 158, 158);
        }

        .restaurangtwo {
            font-size: 80%;
            margin-top: 50px;
            width: 50%;
            height: 70px;
            min-height: 20%;
            text-transform: uppercase;
            font-weight: 200;
            border: solid 1px rgb(158, 158, 158);
        }

    }

    .restaurang-last {
        margin-top: 20px;
        font-size: 80%;
        text-transform: uppercase;
        border: solid 1px rgb(158, 158, 158);
    }
    .checkbox-div{
         margin-top: 20px;
        font-size: 80%;
        text-transform: uppercase;
        display: flex;
        label{
            margin: 4px;
        }

    }

    .background {
        background-color: rgba(51, 51, 53, 0.2);
        position: absolute;
        transition: 1s;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
      
        .popup-container {
            background-color: white;
            height: 50%;
            width: 90%;
            position: relative;
            top: 200px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            

            .closebtn {
                background-color: white;
                float: right;
                border: none;

            }

            .text-center {
                padding-top: 20px;
            }
        }
    }

    a {
        color: inherit;
    }

}