.all-bookings {
    width: 100%;
    margin: 10px 0 50px 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    .date-header {
        margin: 20px 0;
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
    }

    .booking {
        width: 80%;
        height: auto;
        border: 2px solid #c9af8f;
        border-radius: 5px;
        margin: 5px 0;
        font-size: small;
        display: flex;
        justify-content: space-evenly;

        .booking-wrapper {
            width: 30%;
            padding: 5px;
            display: flex;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .id-wrapper {
            
            .booking-id, .customer-id {
                width: 100%;
                text-align: left;
                margin: 5px 0;
            }
        }

        .time-people-wrapper {
            .time, .people {
                width: 100%;
                text-align: left;
                margin: 5px 0;
            }
        }

        .button-wrapper {
            flex-direction: column;
            align-items: flex-end;
            button {
                width: 35%;
                margin: 5px 0;
                padding: 2px;
                border: none;
                cursor: pointer;
            }
            button:hover{
                background-color: #ebd0af;
            }
        }

    }
}