.footer-container {
    background: #EFD9BE;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
    padding: 10px;
   
        p{
            font-size: 90%;
        }
    
    
    
    
    ul {
        list-style: none;
       
        li{
            display: inline;
            margin: 10px;
        }
    }
    a {
        color: inherit;
    } 

}