.footer-container {
    background: #EFD9BE;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    bottom: 0;
    width: 100%;
    ul {
        list-style: none;
    }
    a {
        color: inherit;
    } 

}