@import 'mixins';

.container {
    display: flex;
    .welcome-img {
        width: 100%;

    }

    .booking-table {
        position: absolute;

        @include tablet {
            
        }

        @include desktop {
            
        }

        .booking-table-btn {
            width: 150px;
            height: 150px;
            background-color: white;
            border: solid 1px rgb(167, 167, 167);
            text-transform: uppercase;
            font-weight: 400;
            font-size: 80%;
            border-radius: 50%;
            cursor: pointer;
        }

    }
}