.time-div {
    
    .time-btn {

        justify-content: center;
        align-items: center;
        margin: 5px;
        padding: 18px;
        border: none;
        width: 70%;
        height: 50px;
        cursor: pointer;
        


    }

    button:hover {
        background: #EFD9BE;
        box-shadow: 1px 1px rgb(255, 250, 250);
    }
}