.date-container {
    width: 90%;
    height: auto;
    margin: 0 auto;
    font-weight: 400;
    font-size: 90%;


    h2 {
        text-align: center;
        font-weight: 400;
        font-size: 20px;
    }

    .text-left {
        text-align: left;
        font-size: 17px;
    }

    .text-left-second {
        text-align: left;
        font-size: 90%;
    }

    .date-and-guests {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .select {
        width: 150px;
        margin-right: 5px;
        height: 30px;
        cursor: pointer;

    }
}